.app {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #CCC;
}
.container {
  width: 350px;
  height: calc(100% - 40px);
  padding: 20px;
  border-radius: 20px;
  background-color: #757575
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.loginError {
  font-size: 20px;
  font-weight: bold;
  color: #ff6b6b;
}

.error {
  font-weight: bold;
  color: #700;
}


.value, .input {
  display: flex;
  align-items: center;
  height: 40px;
  width: calc(100% - 10px);
  margin-bottom: 10px;
  padding-left: 10px !important;
  font-size: 16px;
}

.value {
  color: #ffffff;
}

.input {
  color: #000000;
  padding: 0;
  border: none;
}

.button, .addButton {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

.addButton {
  background-color: #78AC26;
}
